<a class="resources-card-box category-card" onclick={{selectCategory}}>
  <div class="resources-card-box-header">
    {{#if categoryIcon}}
      {{d-icon categoryIcon}}
    {{else}}
      <span class="resources-card-box-header-badge-category-bg" style="background-color: {{categoryColor}}"></span>
    {{/if}}
    <h3 class="resources-card-box-header-title">{{categoryName}}</h3>
  </div>

  {{#if hasDescription}}
    <p class="resources-card-box-description">{{html-safe categoryDescription}}</p>
  {{/if}}

  <span class="resources-card-box-count">{{topicCount}}</span>
</a>
