<a class="resources-card-box" onclick={{selectTag}}>
  <div class="resources-card-box-header">
    {{#if tagIcon}}
      {{d-icon tagIcon}}
    {{else}}
      {{d-icon "tag" class="card-tag-icon"}}
    {{/if}}
    <h3 class="resources-card-box-header-title">{{tagTitle}}</h3>
  </div>

  <span class="resources-card-box-count">{{topicCount}}</span>
</a>
